<h1>Contribute a recipe</h1>

<form action="/recipe/create" method="POST">
    Title: <input name="title"/>
    Content: <input name="content"/>
    <button type="submit">Add</button>
</form>

<h2><a href ="/">Back</a></h2>
